rules:
	- Shrug\ZealousStan\Rules\RequireCopyrightNoticeInFirstCommentRule

services:
	-
		class: Shrug\ZealousStan\Rules\RequireCopyrightNoticeInFirstCommentRule
		arguments:
			copyrightIdentifier: %shrug.copyrightIdentifier%
		tags:
				- phpstan.rules.rule

parametersSchema:
		shrug: structure([
			copyrightIdentifier: schema(string(), nullable())
		])
