parametersSchema:
		shrug: structure([
			copyrightIdentifier: schema(string(), nullable())
			requiredLicenseIdentifier: schema(string(), nullable())
		])

rules:
	- Shrug\ZealousStan\Rules\RequireCopyrightInformationInFirstCommentRule
	- Shrug\ZealousStan\Rules\RequireLicenseInformationInFirstCommentRule

services:
	-
		class: Shrug\ZealousStan\Rules\RequireCopyrightInformationInFirstCommentRule
		arguments:
			copyrightIdentifier: %shrug.copyrightIdentifier%
		tags:
				- phpstan.rules.rule
	-
		class: Shrug\ZealousStan\Rules\RequireLicenseInformationInFirstCommentRule
		arguments:
			requiredLicenseIdentifier: %shrug.requiredLicenseIdentifier%
		tags:
			- phpstan.rules.rule
