name: CGL
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'

jobs:
  cgl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.2
          tools: composer:v2, composer-unused
          coverage: none

      # Validation
      - name: Validate composer.json
        run: composer validate

      # Install dependencies
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v2

      # Check Composer dependencies
      # - name: Check for unused dependencies
      #  run: composer-unused --excludePackage=symfony/dotenv

      # Linting
      - name: Lint composer.json
        run: composer lint:composer
      - name: Lint .editorconfig
        run: composer lint:editorconfig
